<% if current_user.favorites.find_by(chatroom_id: chatroom.id) %>
	<%= link_to unfavorite_path(chatroom.id), method: :delete, remote: true, class: "favorite-link" do %>
  	<span class="glyphicon glyphicon-heart heart-icon"></span>
  <% end %>
<% else %>  
  <%= link_to favorite_path(chatroom.id), method: :post, remote: true, class: "favorite-link" do %>
		<span class="glyphicon glyphicon-heart-empty heart-icon"></span>
  <% end %>
<% end %>
