<div class="container">
  <div class="row">
    <div class="col-xs-12">
      

      <h1>Editing Chatroom</h1>
      
      <%= render 'form' %>
      
      <%= link_to 'Show', @chatroom %> |
      <%= link_to 'Back', chatrooms_path %>
    </div>
  </div>
</div>