  <% if current_user.likes.find_by(note_id: note.id) %>
    <%= link_to unlike_path(note.id), method: :delete, remote: true, class: "star-icon" do %>
    	<span class="glyphicon glyphicon-star"></span>
    <% end %>
  <% else %>
    <%= link_to like_path(note.id), method: :post, remote: true, class: "star-icon" do %>
    	<span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  <% end %>