$color-header: lighten(green, 10%);
$color-header-text: white;
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body {
  background-color: #fff;
  color: #444;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

body{
  margin: 0px !important;
} 

h1{
  white-space: nowrap;
}


/*   bootstrapの設定変更   */

.row{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/*   bootstrapの設定変更   */



header{
  border-bottom: solid 1px whitesmoke;
  background-color: #008080;
  color: $color-header-text;
  padding: 0px 4%;
  height: 50px;
  z-index: 10;
  a {
    color: $color-header-text;
  
    &:visited {
      color: $color-header-text;
    }
  
    &:hover {
      color: lighten($color-header-text, 10%);
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0);
    }
  }
} 

.header-left{
  float: left;    /* bootstrap */
  width: 44%;     /* bootstrap */
  line-height: 50px;
  font-size: 24px;
  a {
    &:hover {
      color: $color-header-text;
    }
  }
}

.header-right{
  float: right;  /* bootstrap */
  width: 56%;    /* bootstrap */
}

.header-right-title li{
  list-style:none;
  float: left;
  box-sizing: border-box;
  width: 33%;
  line-height: 50px;
  text-align: center;
  border-left: solid 1px #eee;
  color: $color-header-text;
  font-size: 20px;
}
.contents{
  margin: 0 auto;
  width: 100%;
}

.heart-icon{
  color: #a52a2a;
  &:hover{
    color: #a52a2a;
    text-decoration: none;
    opacity: 0.5;
  }
}

.star-icon{
  color: #ffff00;
  &:hover{
    color: #ffff00;
    text-decoration: none;
    opacity: 0.5;
  }
}

.favorite-link:hover, .star-icon:hover{
  background-color: white;
}

@media (min-width: 1260px){
  .contents{
    width: 1260px;
    padding-top: 20px;
  }
}
@media (max-width: 970px){
  header{
    height: 50px;
  }
  .header-left{
    font-size: 27px;
    width: 36%;
  }
  .header-right{
    width: 64%;
  }
  .header-right-title li{
    line-height: 35px;
    font-size: 27px;
  }
  .nav-bar{
    min-height: 45px;
  }
}

@media (max-width: 768px){
  header{
    height: 30px;
  }
  .header-left{
    font-size: 25px;
    white-space: nowrap;
  }
  .header-right-title li{
    line-height: 30px;
    font-size: 25px;
    border-left: none;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    -o-writing-mode: vertical-lr;
    white-space: nowrap;
  }
  .nav-bar{
    min-height: 50px;
  }
}
