// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#japanese{
	background-color: #f08080;
}
#mathematics{
	background-color: #008db7;
}
#english{
	background-color: #ffec47;
}
#science{
	background-color: #3cb371;
}
#social_studies{
	background-color: #c5a05a;
}

.subjects{
	height: 100px;

	.subject{
		display: inline-block;
		width: 100px;
		margin: 20px;
		padding: 20px;
		text-align: center;
		font-size: 20px;
		color: white;
		border-radius: 5px;
		transition-duration: 0.5s;
		&:hover{
			opacity: 0.5;
			color: white;
			text-decoration: none;
		}
	}

	.subject-title{
		text-align: center;
		h1{
			font-size: 26px;
			line-height: 100px;
			color: #444444;
		}
	}
}

.chatroom-new{
	padding-left: 40px;
	height: 30px;
	a:hover{
		text-decoration: none;
	}
}

.chatroom{
	padding: 10%;
	text-align: center;
	color: white;
	border-radius: 5px;

	.chatroom-title{
		margin-bottom: 10px;
		font-size: 150%;
	}

	.chatroom-link{
		display: block;
		background-color: white;
		padding: 5px 0;
		color: teal;
		transition-duration: 0.5s;
		
		&:hover{
			text-decoration: none;
			opacity: 0.8;
		}
	}
	.chatroom-content{
		margin-bottom: 10px;
		font-size: 13px;
		text-align: right;
	}
}

@media (min-width: 1260px){
  .chatroom{
  	padding: 10%;
  }
  .chatroom-link{
  	padding: 5% 0;
  	border-radius: 2px;
  }
}
